<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean  id="airtel" class="org.spring.ioc.Airtel" ></bean>


   <!-- <bean id="student" class="org.spring.DI.Student">
        <property name="studentName" value="Eman"/>
        <property name="id" value="1"/>
    </bean>


    <bean id="student2" class="org.spring.DI.Student">
        <property name="studentName" value="Amr"/>
        <property name="id" value="2"/>
    </bean>  -->

   <!-- <bean id="student" class="org.spring.DI.Student">
        <constructor-arg name="studentName" value="Eman"/>
        <constructor-arg name="id" value="1"/>
    </bean>


    <bean id="student2" class="org.spring.DI.Student">
        <constructor-arg name="studentName" value="Amr"/>
        <constructor-arg name="id" value="2"/>
    </bean> -->

    <bean id="student" class="org.spring.DI.Student">
        <property name="mathLearn" >
            <bean class="org.spring.DI.MathLearn"></bean>
        </property>
        <property name="studentName" value="Amr"/>
        <property name="id" value="2"/>
    </bean>





</beans>