<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable annotation-based configuration -->
    <context:annotation-config />
<context:property-placeholder location="student.info.properties" />
    <context:annotation-config />
    
    <context:component-scan base-package="org.spring.college" />

    <bean  id="airtel" class="org.spring.ioc.Airtel" ></bean>


   <!-- <bean id="student" class="org.spring.DI.Student">
        <property name="studentName" value="Eman"/>
        <property name="id" value="1"/>
    </bean>


    <bean id="student2" class="org.spring.DI.Student">
        <property name="studentName" value="Amr"/>
        <property name="id" value="2"/>
    </bean>  -->

   <!-- <bean id="student" class="org.spring.DI.Student">
        <constructor-arg name="studentName" value="Eman"/>
        <constructor-arg name="id" value="1"/>
    </bean>


    <bean id="student2" class="org.spring.DI.Student">
        <constructor-arg name="studentName" value="Amr"/>
        <constructor-arg name="id" value="2"/>
    </bean> -->

    <bean  id="mathLearnObj" class="org.spring.DI.MathLearn"></bean>
    <bean  id="ArabicLearnObj"   class="org.spring.DI.ArabicLearn" > </bean>


    <bean id="student" class="org.spring.DI.Student">
        <property name="learning"  ref="mathLearnObj" />
        <property name="studentName" value="Amr"/>
        <property name="id" value="2"/>
    </bean>


    <!--<bean id="heart" class="org.spring.autowired.Heart"></bean> --> <!-- id=heart lazem ykon nafs name ely mawgod fe el class-->

    <!-- <bean id="humanObj"  class="org.spring.autowired.Human">
        <property name="heart" ref="heartObj" />
    </bean> -->

    <!--
     <bean id="heartObj" class="org.spring.autowired.Heart"></bean>-->
     <!-- autowiring by TYPE -->
   <!-- <bean id="humanObj"  class="org.spring.autowired.Human" autowire="byType">

    </bean> -->


    <!-- <bean id="heartObj" class="org.spring.autowired.Heart"></bean> -->
     <!-- autowiring by CONSTRUCTOR -->
    <!--<bean id="humanObj"  class="org.spring.autowired.Human" autowire="constructor">

    </bean>-->

    <bean id="heartObj1" class="org.spring.autowired.Heart">
        <property name="name" value="animal" />
        <property name="noOfHeart" value="3"/>
    </bean>

    <bean id="heartObj2" class="org.spring.autowired.Heart">
        <property name="name" value="human" />
        <property name="noOfHeart" value="3"/>
    </bean>

    <bean id="humanObj"  class="org.spring.autowired.Human" >

    </bean>

<!--school-->


    <!-- <bean id="school" class="org.spring.School.Student">
        <property name="name" value="${student.name}"/>
        <property name="hobby" value="${student.hobby}"/>
        <property name="insertedCourse" value="${student.insertedCourse}"/>
    </bean> -->


    <bean id="school" class="org.spring.School.Student">

    </bean>


    <!--college-->


</beans>